body {
  font-family: "Lato", "Noto Sans JP", serif;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
  list-style-position: inside;
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  padding-right: 40px;
  padding-left: 40px;
}

.headerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
.headerLogo {
  width: 234px;
  height: 53px;
  line-height: 0;
}
.headerLogo:hover {
  opacity: 0.6;
}
.headerLink {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.headerImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hamburger {
  position: relative;
  z-index: 100;
  width: 35px;
  height: 35px;
}
.hamburger:hover {
  opacity: 0.6;
}
.hamburgerLine {
  position: absolute;
  right: 0;
  width: 100%;
  height: 3px;
  background-color: #d7003a;
  transition: all 0.4s;
}
.hamburgerLine.is-active {
  background-color: #fff;
}
.hamburgerLine:first-child {
  top: 5px;
}
.hamburgerLine:first-child.is-active {
  top: 15px;
  height: 2px;
  transform: rotate(45deg);
}
.hamburgerLine:nth-child(2) {
  top: 15px;
}
.hamburgerLine:nth-child(2).is-active {
  opacity: 0;
}
.hamburgerLine:last-child {
  top: 25px;
}
.hamburgerLine:last-child.is-active {
  top: 15px;
  height: 2px;
  transform: rotate(-45deg);
}

.hammenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-color: #d7003a;
  color: #fff;
  opacity: 0;
  transition: opacity 0.4s;
  pointer-events: none;
}
.hammenu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.hammenuWrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.hammenuBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.hammenuList:hover {
  opacity: 0.9;
}

.sectionTitle {
  text-align: center;
  color: #d7003a;
  font-size: 32px;
}

.sectionInfo {
  margin-top: 48px;
}

.company {
  width: 100%;
}
.companyItems {
  background-image: url(../img/slide3.jpg);
  background-color: #333;
  background-position: center;
  transition: background-image 1s ease;
}
.companyBg {
  padding-top: 240px;
  padding-bottom: 240px;
  background-color: rgba(0, 0, 0, 0.4);
}
.companyText {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  line-height: 64px;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 32px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e5e5e5;
  cursor: pointer;
}

.dot.is-current {
  background-color: #D7003A;
}

.about {
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media (max-width: 960px) {
  .about {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
.aboutText {
  font-size: 24px;
  font-weight: bold;
  line-height: 64px;
}

.news {
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f3f3f3;
}
@media (max-width: 960px) {
  .news {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.tabName {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabTitle {
  width: 50%;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #e5e5e5;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.tabTitle.is-active {
  background-color: #d7003a;
}
.tabList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 32px 25px;
  border-bottom: 1.5px solid #e5e5e5;
}
.tabList:last-child {
  margin-bottom: 40px;
}
.tabList-date {
  width: 15%;
}
.tabList-info {
  width: 85%;
}
.tabList-info-info:hover {
  opacity: 0.7;
}
.tabBox {
  display: none;
  padding-right: 32px;
  padding-left: 32px;
  border: 24px solid #e5e5e5;
}
.tabBox.is-shown {
  display: block;
  border: 24px solid #d7003a;
}

.faq {
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
}
@media (max-width: 960px) {
  .faq {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
.faqList {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 24px;
  border: 1px solid #d7003a;
  color: #d7003a;
  font-size: 16px;
}
.faqList.is-active {
  background-color: #d7003a;
  color: #fff;
}
.faqList:nth-child(odd) {
  cursor: pointer;
}
.faqList:nth-child(even) {
  padding: 0;
  opacity: 0;
  pointer-events: none;
}
.faqList:nth-child(even).is-visible {
  margin-bottom: 32px;
  padding: 24px;
  opacity: 1;
  pointer-events: auto;
  animation: contentOpen 0.9s;
}
.faqList:first-child {
  margin-top: 0;
}
.faqIcon {
  display: inline-block;
  width: 44px;
  height: 44px;
  padding-top: 5px;
  border: 1px solid #d7003a;
  border-radius: 50%;
  color: #d7003a;
  font-size: 24px;
  text-align: center;
}
.faqIcon-a {
  background-color: #d7003a;
  color: #fff;
}
.faqIcon-q.is-active {
  border: 1px solid #fff;
  color: #fff;
}
.faqBtn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 30px;
  height: 30px;
}
.faqLine:first-child, .faqLine:last-child {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #d7003a;
  transition: all 0.5s ease;
}
.faqLine:first-child.is-active, .faqLine:last-child.is-active {
  background-color: #fff;
}
.faqLine:last-child {
  transform: rotate(90deg);
}
.faqLine:last-child.is-active {
  transform: rotate(0deg);
}

.contact {
  width: 100%;
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f3f3f3;
}
@media (max-width: 960px) {
  .contact {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
.contactBox {
  text-align: center;
}
.contactBtn {
  display: inline-block;
  padding: 34px 168px;
  background-color: #d7003a;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
.contactBtn:hover {
  opacity: 0.7;
}

@keyframes contentOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #333;
}
.footerItems {
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 32px 64px;
  background-color: #fff;
}
.formTitle {
  font-size: 24px;
  text-align: center;
}
.formName, .formEmail, .formInquiry {
  display: block;
  margin-top: 32px;
}
.formSubtitle {
  display: inline-block;
}
.formInput {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  border: 1.5px solid #e5e5e5;
}
.formBtn {
  display: block;
  width: 50%;
  margin: 32px auto 0;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #d7003a;
  color: #fff;
}
.formBtn:hover {
  opacity: 0.7;
}

@keyframes contentOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 960px) {
  .companyBg {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .tabList {
    flex-direction: column;
    gap: 8px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .tabList-date {
    width: 100%;
  }
  .tabList-info {
    width: 100%;
  }
  .form {
    width: 80%;
  }
}
@media (max-width: 690px) {
  .companyText {
    font-size: 24px;
  }
  .companyBr {
    display: none;
  }
  .tabTitle {
    font-size: 18px;
  }
  .contactBtn {
    padding: 32px 112px;
    font-size: 18px;
  }
  .form {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .wrapper {
    padding-right: 16px;
    padding-left: 16px;
  }
  .headerLogo {
    width: 170px;
    height: 40px;
  }
  .sectionInfo {
    margin-top: 32px;
  }
  .sectionTitle {
    font-size: 28px;
  }
  .companyText {
    line-height: 40px;
    font-size: 18px;
  }
  .aboutText {
    line-height: 40px;
    font-size: 18px;
  }
  .tabBox {
    padding-right: 8px;
    padding-left: 8px;
  }
  .tabBox.is-shown {
    border: 12px solid #d7003a;
  }
  .tabTitle {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 16px;
  }
  .faqList {
    flex-direction: column;
    gap: 12px;
    padding: 16px;
  }
  .faqBtn {
    display: none;
  }
  .contactBtn {
    padding: 16px 48px;
  }
  .form {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */