@charset "UTF-8";

body {
    font-family: 'Lato', 'Noto Sans JP', serif;
    color: #333333;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
    list-style-position: inside;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px;
}