@charset "UTF-8";

@use "variables";

// common
.sectionTitle {
    text-align: center;
    color: variables.$red;
    font-size: 32px;
}

.sectionInfo {
    margin-top: 48px;
}

// company
.company {
    width: 100%;

    &Items {
        background-image: url(../img/slide3.jpg);
        background-color: variables.$lightblack;
        background-position: center;
        transition: background-image 1s ease;
    }

    &Bg {
        padding-top: 240px;
        padding-bottom: 240px;
        background-color: rgba(0, 0, 0, .4);
    }

    &Text {
        font-size: variables.$fsBigger;
        font-weight: bold;
        color: variables.$white;
        line-height: variables.$lhBig;
    }
}

.indicator {
    @include variables.flexContainer;
    gap: 40px;
    margin-top: 32px;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: variables.$gray;
    cursor: pointer;
}

.dot.is-current {
    background-color: #D7003A;
}

// about
.about {
    width: 100%;
    @include variables.sectionPaddingY;

    &Text {
        font-size: variables.$fsBig;
        font-weight: bold;
        line-height: variables.$lhBig;
    }
}

// news
.news {
    width: 100%;
    @include variables.sectionPaddingY;
    background-color: variables.$darkwhite;
}

.tab {
    &Name {
        @include variables.flexContainer;
    }

    &Title {
        width: 50%;
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: variables.$gray;
        color: variables.$white;
        font-size: variables.$fsBig;
        font-weight: bold;
        text-align: center;
        cursor: pointer;

        &.is-active {
            background-color: variables.$red;
        }
    }

    &List {
        @include variables.flexContainer;
        width: 100%;
        padding: 40px 32px 25px;
        border-bottom: 1.5px solid variables.$gray;

        &:last-child {
            margin-bottom: 40px;
        }

        &-date {
            width: 15%;
        }

        &-info {
            width: 85%;

            &-info:hover {
                opacity: .7;
            }
        }
    }

    &Box {
        display: none;
        padding-right: 32px;
        padding-left: 32px;
        border: 24px solid variables.$gray;

        &.is-shown {
            display: block;
            border: 24px solid variables.$red;
        }
    }
}

// faq
.faq {
    width: 100%;
    @include variables.sectionPaddingY;

    &List {
        position: relative;
        @include variables.flexContainer;
        justify-content: flex-start;
        gap: 32px;
        padding: 24px;
        border: 1px solid variables.$red;
        color: variables.$red;
        font-size: variables.$fsSmall;

        &.is-active {
            // クリック時に色反転
            background-color: variables.$red;
            color: variables.$white;
        }

        // question
        &:nth-child(odd) {
            cursor: pointer;
        }

        // answer
        &:nth-child(even) {
            padding: 0;
            opacity: 0;
            pointer-events: none;

            &.is-visible {
                // クリック時に表示
                margin-bottom: 32px;
                padding: 24px;
                opacity: 1;
                pointer-events: auto;
                animation: contentOpen .9s;
            }
        }

        &:first-child {
            margin-top: 0;
        }
    }

    &Icon {
        display: inline-block;
        width: 44px;
        height: 44px;
        padding-top: 5px;
        border: 1px solid variables.$red;
        border-radius: 50%;
        color: variables.$red;
        font-size: variables.$fsBig;
        text-align: center;

        &-a {
            background-color: variables.$red;
            color: variables.$white;
        }

        &-q.is-active {
            // クリック時に色反転
            border: 1px solid variables.$white;
            color: variables.$white;
        }
    }

    &Btn {
        position: absolute;
        top: 32px;
        right: 32px;
        width: 30px;
        height: 30px;
    }

    &Line {

        &:first-child,
        &:last-child {
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: 2px;
            background-color: variables.$red;
            transition: all .5s ease;

            &.is-active {
                background-color: variables.$white;
            }
        }

        &:last-child {
            transform: rotate(90deg);

            &.is-active {
                transform: rotate(-0deg);
            }
        }
    }
}

// contact
.contact {
    width: 100%;
    @include variables.sectionPaddingY;
    background-color: variables.$darkwhite;

    &Box {
        text-align: center;
    }

    &Btn {
        display: inline-block;
        padding: 34px 168px;
        background-color: variables.$red;
        color: variables.$white;
        font-size: variables.$fsBig;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            opacity: .7;
        }
    }
}

@keyframes contentOpen {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}