@charset "UTF-8";

@use "variables";

.footer {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: variables.$lightblack;

    &Items {
        text-align: center;
        font-size: variables.$fsSmall;
        color: variables.$white;
    }
}