@charset "UTF-8";

@use "variables";

@media (max-width: 960px) {
    .company {
        &Bg {
            padding-top: 112px;
            padding-bottom: 112px;
        }
    }

    .tab {
        &List {
            flex-direction: column;
            gap: 8px;
            padding-right: 16px;
            padding-left: 16px;

            &-date {
                width: 100%;
            }

            &-info {
                width: 100%;
            }
        }
    }

    // form
    .form {
        width: 80%;
    }
}

@media (max-width: 690px) {

    .company {
        &Text {
            font-size: variables.$fsBig;
        }
    }

    .company {
        &Br {
            display: none;
        }
    }

    .tab {
        &Title {
            font-size: variables.$fsMedium;
        }
    }

    .contact {
        &Btn {
            padding: 32px 112px;
            font-size: variables.$fsMedium;
        }
    }

    // form
    .form {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .wrapper {
        padding-right: 16px;
        padding-left: 16px;
    }

    .header {
        &Logo {
            width: 170px;
            height: 40px;
        }
    }

    .sectionInfo {
        margin-top: 32px;
    }

    .sectionTitle {
        font-size: variables.$fsBigger;
    }

    .company {
        &Text {
            line-height: variables.$lhMedium;
            font-size: variables.$fsMedium;
        }
    }

    .about {
        &Text {
            line-height: variables.$lhMedium;
            font-size: variables.$fsMedium;
        }
    }

    .tab {
        &Box {
            padding-right: 8px;
            padding-left: 8px;

            &.is-shown {
                border: 12px solid variables.$red;
            }
        }

        &Title {
            padding-right: 8px;
            padding-left: 8px;
            font-size: variables.$fsSmall;
        }
    }

    .faq {
        &List {
            flex-direction: column;
            gap: 12px;
            padding: 16px;
        }

        &Btn {
            display: none;
        }
    }

    .contact {
        &Btn {
            padding: 16px 48px;
        }
    }

    // form
    .form {
        width: 100%;
    }
}